body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

header {
    background: #b30000;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#subscribeBtn {
    background: white;
    color: #b30000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    padding: 20px;
}

#incidentList {
    list-style: none;
    padding: 0;
}

#incidentList li {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 5px solid #b30000;
}
